
.App{
    position:relative;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    overflow:'visible';
    background-color:#F8F8F8;

    .title{
        font: 4vw Sans-serif;
        color:#343a40;
        font-weight:bold;
    };

    .bubbleChart{
        max-width:2000px;
        width: 85%;
        height:100%;
        margin:auto;
        overflow:'visible';
        min-height:80%;

        .dropDownMenus{
            height:100%;
            display:flex;
            justify-content:space-evenly;
        }
    }

    .timeSlider{
        max-width:2000px;
        width:60%;
        height:20%;
        display: flex;
        justify-content:center;
    }
    
   
    .footer {

        height:100%;
    }


}